.small-img {
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    height: auto; /* Esto asegura que la altura se ajuste automáticamente */
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding-top: 50px;
}

/* Estilo para el contenedor principal */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Estilo para los botones */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para las tarjetas de películas */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

/* Estilo para el recuadro de puntuación */
.puntuacion-recuadro {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilo para la imagen de la película */
.card-img-top {
    border-radius: 10px 10px 0 0;
}

/* Estilo para el formulario de puntuación */
form {
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    padding: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #28a745;
}

button[type="submit"]:hover {
    background-color: #218838;
}

/* Estilo para los títulos */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilo para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
